{% extends "studserviceapp/base.html" %}

{% block title %}Pregled semestara{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'timetableforuser' username %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'addRasporedPredavanja' %}">Upload rasporeda predavanja</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'addkolok' %}">Upload rasporeda kolokvijuma/ispita</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'unosObavestenja' %}">Unos obavestenja</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'maillist' username %}">Slanje mejla</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'allsemesters' %}">Unos izbornih grupa <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'viewgroups' %}">Pregled izabranih grupa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profesorPregled' username %}">Spisak studenata</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'studentDetalji' %}">Pretraga studenata</a>
    </li>
{% endblock %}

{% block content %}
    <div class="px-2">
        {% if semestri %}
        <table>
            <thead>
                <tr>
                    <th>Semestar</th>
                </tr>
            </thead>
            <tbody>
            {% for s in semestri %}
                <tr>
                    <td><a href="{% url 'groupsforsemester' s.id %}">{{ s }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Nema semestara u bazi</p>
        {% endif %}
        <form action="{% url 'addsemester' %}">
            <input type="submit" value="Dodaj semestar">
        </form>
    </div>
{% endblock %}